html,
body,
.lato {
 font-family: 'Lato', sans-serif !important;
}

html {
  transition: background-color 0.1s ease-in-out;
}

blockquote p {
  white-space: pre;
}

.section {
  padding-top: 0.5rem !important;
}

h1,
.lobster,
.card-header-title {
  font-family: 'Lobster Two', cursive;
}

.card-header-title .image {
  transition: height 0.1s ease-in-out, width 0.1s ease-in-out;
}

.card-header-title .text {
  transition: font-size 0.1s ease-in-out;
}

.card {
  transition: margin 0.1s ease-in-out;
}

.card-header {
  width: 100%;
  border-width: 0;
  cursor: pointer;
}

h2,
h3,
h4,
h5,
h6,
.oswald {
  font-family: 'Oswald', sans-serif;
}

blockquote {
  box-shadow: none !important;
}

.button.is-menu {
  padding-left: 0;
  margin-top: 1rem;
  height: 52px;
  position: sticky;
  top: 0;
  z-index: 666;
}

.hero {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.hero .title {
  margin: 0 !important;
}

@media only screen and (max-width: 1023px) {
  .hero .title {
    word-wrap: break-word;
    max-width: 50%;
  }
}

.navbar-brand {
  width: 100%;
}

.external-links {
  margin-left: auto;
  order: 2;
}

.external-links a {
  margin-left: 20px;
}

.icon-1,
.icon-2,
.icon-3,
.discord {
  transition: fill 0.1s ease-in-out;
}

.discord {
  height: 100%;
}

.arrow-dsc {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000000;
}

.arrow-asc {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
}

.random {
  margin-bottom: 15px;
}

.random-list {
  width: 205px;
  margin-right: 10px;
}

.random-roll {
  width: 145px;
  margin-right: 10px;
}

.random-result {
  height: 40px;
  line-height: 40px;
}

.random-result.is-visible-mobile {
  padding-left: 16px;
}

/* Home */

.is-home,
.is-home .button.is-menu {
  background-color: #fff;
}

.is-home .discord {
  fill: #363636 !important;
}

/* Not Found */

.is-notFound .icon-2 {
  fill: #686868;
}

.is-notFound .icon-1 {
  fill: #949494;
}

.is-notFound .icon-3 {
  fill: #D2D2D2;
}

.is-notFound,
.is-notFound .button.is-menu {
  background-color: #D2D2D2;
}

.is-notFound .card,
.is-notFound .title,
.is-notFound .button,
.is-notFound a,
.is-notFound .menu-label,
.is-notFound .content,
.is-notFound h1,
.is-notFound h2,
.is-notFound h3,
.is-notFound h4,
.is-notFound h5,
.is-notFound h6,
.is-notFound p,
.is-notFound li,
.is-notFound blockquote,
.is-notFound span {
  color: #686868 !important;
}

.is-notFound .discord {
  fill: #686868 !important;
}

.is-notFound blockquote,
.is-notFound .tabs li.is-active a {
  border-color: #686868 !important;
}

.is-notFound .tabs li a {
  border-width:0;
}

.is-notFound .tabs li.is-active a {
  border-width: 2px;
  font-weight: bold;
}

.is-notFound a:hover,
.is-notFound a.is-active,
.is-notFound .card,
.is-notFound blockquote {
  background-color: #949494 !important;
}

/* Story */

.is-story .icon-2 {
  fill: #37200F;
}

.is-story .icon-1 {
  fill: #B98455;
}

.is-story .icon-3 {
  fill: #DDC095;
}

.is-story,
.is-story .button.is-menu {
  background-color: #DDC095;
}

.is-story .card,
.is-story .title,
.is-story .button,
.is-story a,
.is-story .menu-label,
.is-story .content,
.is-story h1,
.is-story h2,
.is-story h3,
.is-story h4,
.is-story h5,
.is-story h6,
.is-story p,
.is-story li,
.is-story blockquote,
.is-story span {
  color: #37200F !important;
}

.is-story .discord {
  fill: #37200F !important;
}

.is-story blockquote,
.is-story .tabs li.is-active a {
  border-color: #37200F !important;
}

.is-story .tabs li a {
  border-wid0: 2px;
}

.is-story .tabs li.is-active a {
  border-width: 2px;
  font-weight: bold;
}

.is-story a:hover,
.is-story a.is-active,
.is-story .card,
.is-story blockquote {
  background-color: #B98455 !important;
}

/* Brawlers */
.is-brawlers .icon-2 {
  fill: #25201C;
}

.is-brawlers .icon-1 {
  fill: #ddc461;
}

.is-brawlers .icon-3 {
  fill: #FDEEB1;
}


.is-brawlers,
.is-brawlers .button.is-menu {
  background-color: #FDEEB1;
}

.is-brawlers .card,
.is-brawlers .title,
.is-brawlers .button,
.is-brawlers a,
.is-brawlers .menu-label,
.is-brawlers .content,
.is-brawlers h1,
.is-brawlers h2,
.is-brawlers h3,
.is-brawlers h4,
.is-brawlers h5,
.is-brawlers h6,
.is-brawlers p,
.is-brawlers li,
.is-brawlers blockquote,
.is-brawlers span {
  color: #25201C !important;
}

.is-brawlers .discord {
  fill: #25201C !important;
}

.is-brawlers blockquote,
.is-brawlers .tabs li.is-active a {
  border-color: #25201C !important;
}

.is-brawlers .tabs li a {
  border-width:0;
}

.is-brawlers .tabs li.is-active a {
  border-width: 2px;
  font-weight: bold;
}

.is-brawlers a:hover,
.is-brawlers a.is-active,
.is-brawlers .card,
.is-brawlers blockquote {
  background-color: #F1DA7C !important;
}

/* Wraith Raiders */

.is-wraithRaiders .icon-2 {
  fill: #800606;
}

.is-wraithRaiders .icon-1 {
  fill: #d41010;
}

.is-wraithRaiders .icon-3 {
  fill: #f18d8d;
}

.is-wraithRaiders,
.is-wraithRaiders .button.is-menu {
  background-color: #AA0000;
}

.is-wraithRaiders .card,
.is-wraithRaiders .title,
.is-wraithRaiders .button,
.is-wraithRaiders a,
.is-wraithRaiders .menu-label,
.is-wraithRaiders .content,
.is-wraithRaiders h1,
.is-wraithRaiders h2,
.is-wraithRaiders h3,
.is-wraithRaiders h4,
.is-wraithRaiders h5,
.is-wraithRaiders h6,
.is-wraithRaiders p,
.is-wraithRaiders li,
.is-wraithRaiders blockquote,
.is-wraithRaiders span {
  color: #FFFFFF !important;
}

.is-wraithRaiders .discord {
  fill: #FFFFFF !important;
}

.is-wraithRaiders blockquote,
.is-wraithRaiders .tabs li.is-active a {
  border-color: #FFFFFF !important;
}

.is-wraithRaiders .tabs li a {
  border-width: 0;
}

.is-wraithRaiders .tabs li.is-active a {
  border-width: 2px;
  font-weight: bold;
}

.is-wraithRaiders a:hover,
.is-wraithRaiders a.is-active,
.is-wraithRaiders .card,
.is-wraithRaiders blockquote {
  background-color: #950808 !important;
}

/* Luminaries */

.is-luminaries .icon-2 {
  fill: #0055D4;
}

.is-luminaries .icon-1 {
  fill: #C2D2E4;
}

.is-luminaries .icon-3 {
  fill: #F3F1E8;
}

.is-luminaries,
.is-luminaries .button.is-menu {
  background-color: #F3F1E8;
}

.is-luminaries .card,
.is-luminaries .title,
.is-luminaries .button,
.is-luminaries a,
.is-luminaries .menu-label,
.is-luminaries .content,
.is-luminaries h1,
.is-luminaries h2,
.is-luminaries h3,
.is-luminaries h4,
.is-luminaries h5,
.is-luminaries h6,
.is-luminaries p,
.is-luminaries li,
.is-luminaries blockquote,
.is-luminaries span {
  color: #0055D4 !important;
}

.is-luminaries .discord {
  fill: #0055D4 !important;
}

.is-luminaries blockquote,
.is-luminaries .tabs li.is-active a {
  border-color: #0055D4 !important;
}

.is-luminaries .tabs li a {
  border-width: 0;
}

.is-luminaries .tabs li.is-active a {
  border-width: 2px;
  font-weight: bold;
}

.is-luminaries a:hover,
.is-luminaries a.is-active,
.is-luminaries .card,
.is-luminaries blockquote {
  background-color: #C2D2E4 !important;
}

/* Spellworkers */

.is-spellworkers .icon-2 {
  fill: #5A2CA0;
}

.is-spellworkers .icon-1 {
  fill: #D0CAE4;
}

.is-spellworkers .icon-3 {
  fill: #EEF1F5;
}

.is-spellworkers,
.is-spellworkers .button.is-menu {
  background-color: #EEF1F5;
}

.is-spellworkers .card,
.is-spellworkers .title,
.is-spellworkers .button,
.is-spellworkers a,
.is-spellworkers .menu-label,
.is-spellworkers .content,
.is-spellworkers h1,
.is-spellworkers h2,
.is-spellworkers h3,
.is-spellworkers h4,
.is-spellworkers h5,
.is-spellworkers h6,
.is-spellworkers p,
.is-spellworkers li,
.is-spellworkers blockquote,
.is-spellworkers span {
  color: #5A2CA0 !important;
}

.is-spellworkers .discord {
  fill: #5A2CA0 !important;
}

.is-spellworkers blockquote,
.is-spellworkers .tabs li.is-active a {
  border-color: #5A2CA0 !important;
}

.is-spellworkers .tabs li a {
  border-width: 0;
}

.is-spellworkers .tabs li.is-active a {
  border-width: 2px;
  font-weight: bold;
}

.is-spellworkers a:hover,
.is-spellworkers a.is-active,
.is-spellworkers .card,
.is-spellworkers blockquote {
  background-color: #D0CAE4 !important;
}

/* Avowed */

.is-avowed .icon-2 {
  fill: #FF9507;
}

.is-avowed .icon-1 {
  fill: #C7301D;
}

.is-avowed .icon-3 {
  fill: #1A1414;
}

.is-avowed,
.is-avowed .button.is-menu {
  background-color: #551518;
}

.is-avowed .card,
.is-avowed .title,
.is-avowed .button,
.is-avowed a,
.is-avowed .menu-label,
.is-avowed .content,
.is-avowed h1,
.is-avowed h2,
.is-avowed h3,
.is-avowed h4,
.is-avowed h5,
.is-avowed h6,
.is-avowed p,
.is-avowed li,
.is-avowed blockquote,
.is-avowed span,
.is-avowed input,
.is-avowed input::placeholder {
  color: #FF9507 !important;
}

.is-avowed .discord {
  fill: #FF9507 !important;
}

.is-avowed blockquote,
.is-avowed .tabs li.is-active a,
.is-avowed input {
  border-color: #FF9507 !important;
}

.is-avowed .tabs li a {
  border-width: 0;
}

.is-avowed .tabs li.is-active a {
  border-width: 2px;
  font-weight: bold;
}

.is-avowed a:hover,
.is-avowed a.is-active,
.is-avowed .card,
.is-avowed blockquote,
.is-avowed input {
  background-color: #1A1414 !important;
}
